<main>
  <div class="row mb-3">
    <div class="col-md-6">
      <h4 class="section-title m-0"><i class="pi pi-user customer-icon"></i>Jone Doe</h4>
    </div>
    <div class="col-md-6 text-end">
      <button pButton pRipple type="button" label="Back" icon="pi pi-arrow-left" class="p-button-sm" iconPos="left"
        routerLink="/customers">
      </button>
    </div>
  </div>
  <div class="card p-3">
    <div class="row m-0 py-1">
      <div class="col-md-12 text-start">
        <h5>Personal detail</h5>
      </div>
      <div class="col-md-4">
        <div class="detail-container">
          <p>
            <span class="title">Full Name: </span>
            <span class="detail">Mr. Jone Doe</span>
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="detail-container">
          <p>
            <span class="title">Primary Conatct Number: </span>
            <span class="detail">+91 941316962</span>
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="detail-container">
          <p>
            <span class="title">Primary Email: </span>
            <span class="detail">example@example.com</span>
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="detail-container">
          <p>
            <span class="title">Secondary Conatct Number: </span>
            <span class="detail">+91 941316962</span>
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="detail-container">
          <p>
            <span class="title">Secondary Email: </span>
            <span class="detail">example@example.com</span>
          </p>
        </div>
      </div>
    </div>
    <div class="row m-0 py-1">
      <div class="col-md-12 text-start">
        <h5>Identity</h5>
      </div>
      <div class="col-md-4">
        <div class="detail-container">
          <p>
            <span class="title">ID: </span>
            <span class="detail">Aadhar</span>
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="detail-container">
          <p>
            <span class="title">Aadhar Number: </span>
            <span class="detail">216650753095</span>
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="detail-container">
          <p>
            <span class="title">PAN Number: </span>
            <span class="detail">0IQPS2962M</span>
          </p>
        </div>
      </div>
    </div>
    <div class="row m-0 py-1">
      <div class="col-md-12 text-start">
        <h5>Occupation</h5>
      </div>
      <div class="col-md-4">
        <div class="detail-container">
          <p>
            <span class="title">Job: </span>
            <span class="detail">business</span>
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="detail-container">
          <p>
            <span class="title">Job Type: </span>
            <span class="detail">Private</span>
          </p>
        </div>
      </div>
    </div>
    <div class="row m-0 py-1">
      <div class="col-md-4">
        <div class="detail-container">
          <p>
            <span class="title">Address: </span>
            <span class="detail">business</span>
          </p>
        </div>
      </div>
    </div>
    <hr>
    <div class="row m-0 py-1">
      <div class="col-md-4">
        <div class="detail-container">
          <p>
            <span class="detail">Additional Information: </span>
            <span class="title">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente nam eius corrupti voluptatum optio maiores, vel voluptate, ratione expedita fugiat accusantium aperiam enim libero ab totam. Illum vero eaque hic!
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card p-3 my-3">
    <p class="p-0 m-0 text-center">
      No property bought !
    </p>
  </div>
  <div class="row accordion-container py-3">
    <p-accordion [multiple]="true">
      <p-accordionTab [header]="'Header '+ item" *ngFor="let item of [1,2,3]">
        <div class="propert-detail-block text-center mb-3">
          <div class="row m-0 py-2">
            <div class="col-md-4">
              <div class="card bg-light">
                <p class="title">
                  Property ID
                </p>
                <p class="detail">
                  pc-001
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card bg-light">
                <p class="title">
                  Property Name
                </p>
                <p class="detail">
                  pc-001
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card bg-light">
                <p class="title">
                  Property Cost
                </p>
                <p class="detail">
                  pc-001
                </p>
              </div>
            </div>
          </div>
          <div class="row m-0 py-2">
            <div class="col-md-4">
              <div class="card bg-light">
                <p class="title">
                  Payment Plan
                </p>
                <p class="detail">
                  CLP[₹3,985,259.00]
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card bg-light">
                <p class="title">
                  EMI
                </p>
                <p class="detail">
                  ₹1,328,419.67/month
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card bg-light">
                <p class="title">
                  EMI Date
                </p>
                <p class="detail">
                  1 of every month X 3
                </p>
              </div>
            </div>
          </div>
          <div class="row m-0 py-2">
            <div class="col-md-6">
              <div class="card bg-light">
                <p class="title">
                  Amount Recived
                </p>
                <p class="detail">
                  ₹1,328,419.67
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card bg-light">
                <p class="title">
                  Remaining Amount
                </p>
                <p class="detail">
                  ₹2,656,839.33
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="payments-tabs mt-2">
          <p-tabView>
            <p-tabPanel header="Recent Payments">
              <ng-template pTemplate="body">
                <p-table [value]="products" styleClass="p-datatable-sm" [scrollable]="true" responsiveLayout="scroll"
                  scrollHeight="300px">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Code</th>
                      <th>Name</th>
                      <th>Date</th>
                      <th>Category</th>
                      <th>Quantity</th>
                      <th></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-product>
                    <tr>
                      <td>{{product.code}}</td>
                      <td>{{product.name}}</td>
                      <td>{{date | date:'fullDate'}}</td>
                      <td>{{product.category}}</td>
                      <td>{{product.quantity}}</td>
                      <td>
                        <span class="print-btn"><i class="pi pi-print"></i> receipt</span>
                        <span> | </span>
                        <span class="delete-btn"><i class="pi pi-trash"></i> delete</span>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </ng-template>
            </p-tabPanel>
            <p-tabPanel header=" Payment Shedule">
              <ng-template pTemplate="body">
                <p-table [value]="products" styleClass="p-datatable-sm" [scrollable]="true" responsiveLayout="scroll"
                  scrollHeight="300px">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Code</th>
                      <th>Name</th>
                      <th>Category</th>
                      <th>Quantity</th>
                      <th></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-product>
                    <tr>
                      <td>{{product.code}}</td>
                      <td>{{product.name}}</td>
                      <td>{{product.category}}</td>
                      <td>{{product.quantity}}</td>
                      <td>
                        <span class="add-payment-btn"><i class="pi pi-add"></i>Add payment detail</span>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </ng-template>
            </p-tabPanel>
          </p-tabView>
        </div>
      </p-accordionTab>
    </p-accordion>
  </div>
</main>
