.customer-icon{
  font-size: 24px;
  font-weight: 900;
  padding: 0px 10px;
}
.details-container  p{
  display: flex;
  flex-direction: column;
}
.propert-detail-block .card{
  padding: 20px 0px;
}
.propert-detail-block .card p{
  padding: 0px;
  margin: 0px;
}
.details-container .title,
.propert-detail-block .title{
  margin-bottom: 0px;
}
.details-container .detail,
.propert-detail-block .detail{
  font-weight: 500;
}

.print-btn, .add-payment-btn{
  color: green;
  padding-right: 3px;
  cursor: pointer;
}
.delete-btn{
  color: red;
  padding-left: 3px;
  cursor: pointer;
}
