<div class="row">
  <div class="col-md-8">
    <div class="input-group">
      <label for="">Project Name</label>
      <input type="text" class="p-inputtext-sm" pInputText placeholder="Title">
    </div>
    <div class="input-group">
      <label for="">Project type</label>
      <p-dropdown [options]="[{type:'Commercial'},{type: 'Recedentail'}]" class="p-inputtext-sm" optionLabel="type" placeholder="Select type">
      </p-dropdown>
    </div>
    <hr>
    <div class="input-group">
      <label for="">IFMS</label>
      <input type="text" class="p-inputtext-sm" pInputText placeholder="last name">
    </div>
    <div class="input-group">
      <label for="">GST</label>
      <input type="text" class="p-inputtext-sm" pInputText placeholder="Conatct">
    </div>
    <div class="input-group">
      <label for="">BSP</label>
      <input type="text" class="p-inputtext-sm" pInputText placeholder="email">
    </div>
    <hr>
    <div class="input-group">
      <label for="">PLC 1</label>
      <input type="text" class="p-inputtext-sm" pInputText placeholder="corner">
    </div>
    <div class="input-group">
      <label for="">PLC 2</label>
      <input type="text" class="p-inputtext-sm" pInputText placeholder="corner">
    </div>
  </div>
  <div class="col-md-12 text-center">
    <hr>
    <button pButton pRipple type="button" label="Save" class="p-button-sm">
    </button>
  </div>
</div>
