<main>
  <div class="row">
    <div class="col-md-6">
      <h4 class="section-title m-0">Add a customer</h4>
    </div>
    <div class="col-md-6 text-end">
      <button pButton pRipple type="button" label="Back" icon="pi pi-arrow-left" class="p-button-sm" iconPos="left"
        routerLink="/customers">
      </button>
    </div>
  </div>
  <div class="row py-5">
    <div class="col-md-6 p-3">
      <div class="card bg-blue p-5">
        <h5 class="white text-center">Generate customer from lead</h5>
        <div class="input-group-single">
          <p-dropdown [options]="[{type:'Hold'},{type: 'Sold'}]" [filter]="true"
            class="p-inputtext-sm" placeholder="Select a lead" optionLabel="type">
          </p-dropdown>
        </div>
      </div>
    </div>
    <div class="col-md-6 p-3">
      <div class="card bg-blue p-5 cursor-pointer" pRipple>
        <h5 class="white text-center py-4">Add new customer</h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 py-3 mx-auto accordion-container">
      <p-accordion [multiple]="true">
        <p-accordionTab header="Customer details" [selected]="true">
          <div class="input-group">
            <label for="">Title</label>
            <input type="text" class="p-inputtext-sm" pInputText placeholder="Title">
          </div>
          <div class="input-group">
            <label for="">First Name</label>
            <input type="text" class="p-inputtext-sm" pInputText placeholder="First name">
          </div>
          <div class="input-group">
            <label for="">Last Name</label>
            <input type="text" class="p-inputtext-sm" pInputText placeholder="last name">
          </div>
          <hr>
          <div class="input-group">
            <label for="">Primary Contact Number</label>
            <input type="text" class="p-inputtext-sm" pInputText placeholder="Primary Conatct">
          </div>
          <div class="input-group">
            <label for="">Secondory Conatct Number</label>
            <input type="text" class="p-inputtext-sm" pInputText placeholder="Secondary contact">
          </div>
          <div class="input-group">
            <label for="">Primary Email</label>
            <input type="text" class="p-inputtext-sm" pInputText placeholder="Primary email">
          </div>
          <div class="input-group">
            <label for="">Secondary Email</label>
            <input type="text" class="p-inputtext-sm" pInputText placeholder="Secondary email">
          </div>
          <hr>
          <div class="input-group">
            <label for="">Job</label>
            <input type="text" class="p-inputtext-sm" pInputText placeholder="Job">
          </div>
          <div class="input-group">
            <label for="">Job Type</label>
            <p-dropdown [options]="[{type:'Private'},{type: 'Government'}]" class="p-inputtext-sm" optionLabel="type">
            </p-dropdown>
          </div>
          <hr>
          <div class="input-group">
            <label for="">
              <p-dropdown [options]="[{type:'AAdhar Card'},{type: 'Driving Liscence'}]" class="p-inputtext-sm"
                optionLabel="type">
              </p-dropdown>
            </label>
            <input type="text" class="p-inputtext-sm" pInputText placeholder="">
          </div>
          <div class="input-group">
            <label for="">PAN Number</label>
            <input type="text" class="p-inputtext-sm" pInputText placeholder="">
          </div>
          <hr>
          <div class="input-group">
            <label for="">Address Line 1</label>
            <input type="text" class="p-inputtext-sm" pInputText placeholder="">
          </div>
          <div class="input-group">
            <label for="">Address Line 2</label>
            <input type="text" class="p-inputtext-sm" pInputText placeholder="">
          </div>
          <div class="input-group">
            <label for="">Land mark</label>
            <input type="text" class="p-inputtext-sm" pInputText placeholder="">
          </div>
          <div class="input-group">
            <label for="">City</label>
            <input type="text" class="p-inputtext-sm" pInputText placeholder="">
          </div>
          <div class="input-group">
            <label for="">State</label>
            <input type="text" class="p-inputtext-sm" pInputText placeholder="">
          </div>
          <div class="input-group">
            <label for="">Country</label>
            <input type="text" class="p-inputtext-sm" pInputText placeholder="">
          </div>
          <hr>
          <div class="input-group">
            <label for="">Additional Information</label>
            <textarea [rows]="5" [cols]="60" pInputTextarea [autoResize]="true"></textarea>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Sales details" [selected]="true">
          <div class="input-group">
            <label for="">Source</label>
            <p-dropdown [options]="[{type:'Paper Ads'},{type:'Walk In'},{type: 'Social Media'},{type:'Channel Partner'},]" class="p-inputtext-sm" optionLabel="type">
            </p-dropdown>
          </div>
          <div class="input-group">
            <label for="">Channel Partner</label>
            <p-dropdown [options]="[{type:'Property LLC'},{type:'Rahega Firms'}]" class="p-inputtext-sm" optionLabel="type">
            </p-dropdown>
          </div>
          <div class="input-group">
            <label for="">Associated Sales Officer</label>
            <p-dropdown [options]="[{type:'Auto assign'},{type:'Walk In'},{type: 'Social Media'},{type:'Channel Partner'},]" class="p-inputtext-sm" optionLabel="type">
            </p-dropdown>
          </div>
          <hr>
          <div class="input-group">
            <label for="">Remarks</label>
            <textarea [rows]="5" [cols]="60" pInputTextarea [autoResize]="true"></textarea>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
    <div class="col-md-12 text-center">
      <hr>
      <button pButton pRipple type="button" label="Save" class="p-button-sm" routerLink="/properties">
      </button>
    </div>
  </div>
</main>
