<main>
  <div class="row">
    <div class="col-md-6">
      <h4 class="section-title m-0">Add a customer</h4>
    </div>
    <div class="col-md-6 text-end">
      <button pButton pRipple type="button" label="Back" icon="pi pi-arrow-left" class="p-button-sm"
            iconPos="left" routerLink="/customers">
          </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 py-3 mx-auto">
      <div class="input-group">
        <label for="">Title</label>
        <input type="text" class="p-inputtext-sm" pInputText placeholder="Title">
      </div>
      <div class="input-group">
        <label for="">First Name</label>
        <input type="text" class="p-inputtext-sm" pInputText placeholder="First name">
      </div>
      <div class="input-group">
        <label for="">Last Name</label>
        <input type="text" class="p-inputtext-sm" pInputText placeholder="last name">
      </div>
      <hr>
      <div class="input-group">
        <label for="">Primary Contact Number</label>
        <input type="text" class="p-inputtext-sm" pInputText placeholder="Primary Conatct">
      </div>
      <div class="input-group">
        <label for="">Secondory Conatct Number</label>
        <input type="text" class="p-inputtext-sm" pInputText placeholder="Secondary contact">
      </div>
      <div class="input-group">
        <label for="">Primary Email</label>
        <input type="text" class="p-inputtext-sm" pInputText placeholder="Primary email">
      </div>
      <div class="input-group">
        <label for="">Secondary Email</label>
        <input type="text" class="p-inputtext-sm" pInputText placeholder="Secondary email">
      </div>
      <hr>
      <div class="input-group">
        <label for="">Job</label>
        <input type="text" class="p-inputtext-sm" pInputText placeholder="Job">
      </div>
      <div class="input-group">
        <label for="">Job Type</label>
        <p-dropdown [options]="[{type:'Private'},{type: 'Government'}]" class="p-inputtext-sm" optionLabel="type">
        </p-dropdown>
      </div>
      <hr>
      <div class="input-group">
        <label for="">Aadhar Number</label>
        <input type="text" class="p-inputtext-sm" pInputText placeholder="">
      </div>
      <div class="input-group">
        <label for="">PAN Number</label>
        <input type="text" class="p-inputtext-sm" pInputText placeholder="">
      </div>
      <div class="input-group">
        <label for="">Other ID</label>
        <input type="text" class="p-inputtext-sm" pInputText placeholder="">
      </div>
      <hr>
      <div class="input-group">
        <label for="">Address Line 1</label>
        <input type="text" class="p-inputtext-sm" pInputText placeholder="">
      </div>
      <div class="input-group">
        <label for="">Address Line 2</label>
        <input type="text" class="p-inputtext-sm" pInputText placeholder="">
      </div>
      <div class="input-group">
        <label for="">Land mark</label>
        <input type="text" class="p-inputtext-sm" pInputText placeholder="">
      </div>
      <div class="input-group">
        <label for="">City</label>
        <input type="text" class="p-inputtext-sm" pInputText placeholder="">
      </div>
      <div class="input-group">
        <label for="">State</label>
        <input type="text" class="p-inputtext-sm" pInputText placeholder="">
      </div>
      <div class="input-group">
        <label for="">Country</label>
        <input type="text" class="p-inputtext-sm" pInputText placeholder="">
      </div>
      <div class="input-group">
        <label for="">Additional Information</label>
        <textarea [rows]="5" [cols]="50" pInputTextarea [autoResize]="true"></textarea>
      </div>
    </div>
    <div class="col-md-12 text-center">
      <hr>
      <button pButton pRipple type="button" label="Save"  class="p-button-sm" routerLink="/properties">
          </button>
    </div>
  </div>
</main>
