<main class="p-3">
  <div class="filter d-flex flex-row justify-content-between">
    <div class="search">
      <div class="form-control">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
          <input type="text" pInputText class="p-inputtext-sm" placeholder="Search">
        </div>
      </div>
    </div>
    <div class="sort-export">
      <div class="d-flex flex-row justify-content-between">
        <button pButton pRipple type="button" label="Add Channel Partner" icon="pi pi-plus" class="p-button-sm"
          iconPos="left" (click)="addUser()">
        </button>
      </div>
    </div>
  </div>
  <div class="table-responsive mt-3">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Contact</th>
          <th scope="col">CP Type</th>
          <th scope="col">Firm Name</th>
          <th scope="col">Associate Sales Officer</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of [1,2,3,4,5]">
          <th scope="row">{{item}}</th>
          <td>Ankit Kumar Sharma</td>
          <td>1234567890</td>
          <td>data entry</td>
          <td>Some big firm name for test</td>
          <td>Master Arima ASO</td>
          <td class="text-end table-btn">
            <span class="edit" (click)="editUser()">edit</span>
            <span class="px-1">|</span>
            <span class="cursor-pointer" (click)="display=true">brokers</span>
            <span class="px-1">|</span>
            <span class="delete" (click)="deleteUser()">delete</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>

<!-- Status Update Modal -->
<p-dialog [(visible)]="displayUserform" [draggable]="false" [modal]="true" [blockScroll]="true" [closeOnEscape]="false"  [style]="{width: '50vw'}">
  <ng-template pTemplate="header">
     Add New User
  </ng-template>
  <div class="p-3">
    <div class="input-group">
      <label for="">Name</label>
      <input type="text" class="p-inputtext-sm" pInputText placeholder="First name">
    </div>
    <div class="input-group">
      <label for="">CP Type</label>
      <p-dropdown [options]="[{type:'Firm'},{type: 'Freelance'}]"
      class="p-inputtext-sm" placeholder="Select status" optionLabel="type">
      </p-dropdown>
    </div>
    <div class="input-group">
      <label for="">Firm Name</label>
      <input type="text" class="p-inputtext-sm" pInputText placeholder="Firm name">
    </div>
    <div class="input-group">
      <label for="">Rera number</label>
      <input type="text" class="p-inputtext-sm" pInputText placeholder="NA for freelancer">
    </div>
    <div class="input-group">
      <label for="">Contact Number</label>
      <input type="text" class="p-inputtext-sm" pInputText placeholder="">
    </div>
    <div class="input-group">
      <label for="">Email</label>
      <input type="email" class="p-inputtext-sm" pInputText placeholder="email">
    </div>
    <div class="input-group">
      <label for="">Comission percentage</label>
      <input type="number" class="p-inputtext-sm" pInputText placeholder="10">
    </div>
    <div class="input-group">
      <label for="">Sales officer</label>
      <p-dropdown [options]="[{type:'Manager'},{type: 'Sales'},{type: 'Leads'}]"
      class="p-inputtext-sm" placeholder="Select status" optionLabel="type">
    </p-dropdown>
    </div>
    <div class="input-group">
      <label for="">Address</label>
      <input type="text" class="p-inputtext-sm" pInputText>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button (click)="displayUserform=false" label="cancel" styleClass="p-button-text"></p-button>
    <button pButton pRipple type="button" label="save"class="p-button-sm"> </button>
  </ng-template>
</p-dialog>

<!-- Delete Modal  -->
<p-dialog [(visible)]="displayDelete" [draggable]="false" [modal]="true" [blockScroll]="true" [closeOnEscape]="false"  [style]="{width: '50vw'}">
  <ng-template pTemplate="header">
     Delete lead
  </ng-template>
  <p-messages severity="error" [closable]="false">
    <ng-template pTemplate>
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt eaque facere officiis velit recusandae. Earum provident quibusdam officia natus. Voluptate adipisci animi repellendus cum minima aspernatur recusandae perspiciatis vero laudantium?
    </ng-template>
  </p-messages>
  <ng-template pTemplate="footer">
    <p-button (click)="displayDelete=false" label="Delete" styleClass="p-button-danger p-button-text"></p-button>
    <p-button (click)="displayDelete=false" label="Cancel" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>

<p-sidebar [(visible)]="display" [fullScreen]="true" [blockScroll]="true">
  <main class="container p-3">
    <section *ngIf="showBrokers">
      <div class="filter d-flex flex-row justify-content-between">
        <div class="search">
          <div class="form-control">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
              <input type="text" pInputText class="p-inputtext-sm" placeholder="Search">
            </div>
          </div>
        </div>
        <div class="sort-export">
          <div class="d-flex flex-row justify-content-between">
            <button pButton pRipple type="button" label="Add Broker" icon="pi pi-plus" class="p-button-sm"
              iconPos="left" (click)="showBrokers = false">
            </button>
          </div>
        </div>
      </div>
      <div class="table-responsive mt-3">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Contact</th>
              <th scope="col">CP Type</th>
              <th scope="col">Firm Name</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of [1,2,3,4,5]">
              <th scope="row">{{item}}</th>
              <td>Ankit Kumar Sharma</td>
              <td>1234567890</td>
              <td>data entry</td>
              <td>Some big firm name for test</td>
              <td class="text-end table-btn">
                <span class="edit" (click)="editUser()">edit</span>
                <span class="px-1">|</span>
                <span class="delete" (click)="deleteUser()">delete</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <section *ngIf="!showBrokers">

      <div class="row">
        <div class="col-md-10 mx-auto">
          <div class="filter d-flex flex-row justify-content-between">
            <div class="search">
              <div class="form-control">
                <h5>Add Broker</h5>
              </div>
            </div>
            <div class="sort-export">
              <div class="d-flex flex-row justify-content-between">
                <button pButton pRipple type="button" label="Cancel" icon="pi pi-arrow-left" class="p-button-sm"
                  iconPos="left" (click)="showBrokers = true">
                </button>
                <span class="px-1"></span>
                <button pButton pRipple type="button" label="save"class="p-button-sm"> </button>
              </div>
            </div>
          </div>
        </div>
      <div class="col-md-10 mx-auto">
        <div class="input-group">
          <label for="">Name</label>
          <input type="text" class="p-inputtext-sm" pInputText placeholder="First name">
        </div>
        <div class="input-group">
          <label for="">CP Type</label>
          <p-dropdown [options]="[{type:'Firm'},{type: 'Freelance'}]"
          class="p-inputtext-sm" placeholder="Select status" optionLabel="type">
          </p-dropdown>
        </div>
        <div class="input-group">
          <label for="">Firm Name</label>
          <input type="text" class="p-inputtext-sm" pInputText placeholder="Firm name">
        </div>
        <div class="input-group">
          <label for="">Rera number</label>
          <input type="text" class="p-inputtext-sm" pInputText placeholder="NA for freelancer">
        </div>
        <div class="input-group">
          <label for="">Contact Number</label>
          <input type="text" class="p-inputtext-sm" pInputText placeholder="">
        </div>
        <div class="input-group">
          <label for="">Email</label>
          <input type="email" class="p-inputtext-sm" pInputText placeholder="email">
        </div>
        <div class="input-group">
          <label for="">Comission percentage</label>
          <input type="number" class="p-inputtext-sm" pInputText placeholder="10">
        </div>
        <div class="input-group">
          <label for="">Address</label>
          <input type="text" class="p-inputtext-sm" pInputText>
        </div>
      </div>
    </div>
    </section>
  </main>
</p-sidebar>
